<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>My Customers</string>
    <key>CFBundleURLTypes</key>
    <array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ca.yann.bcconnector</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ca.yann.bcconnector.auth</string>
			</array>
		</dict>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>Allow saving customer information to your Contacts.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow showing your location and directions to customers.</string>
</dict>
</plist>
